#deck {
  height: 150px;
  width: 100px;
}
#deck:hover {
  cursor: pointer;
}
#deck:active {
  opacity: 0.7;
}

.hand {
  margin-top: 50px;
}
.card-hand:hover {
  cursor: pointer;
}
.card-hand:active {
  opacity: 0.7;
}

.faceup {
  line-height: 50px;
  padding: 25px;
  text-align:center;
} 
